USE [KRR-PA-CNT-Railway-Test]
GO
/****** Object:  UserDefinedFunction [IDS].[get_view_usage_fee_period_detali_of_id_period]    Script Date: 13.11.2025 9:21:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER FUNCTION [IDS].[get_view_usage_fee_period_detali_of_id_period]
 (
	@id_usage_fee_period int
 )
	RETURNS 
	@view_ufpd TABLE  (
	[id] [int] NOT NULL,
	[id_usage_fee_period] [int] NULL,
	[code_stn_from] [int] NULL,
	[from_station_name_ru] [nvarchar](50) NULL,
	[from_station_name_en] [nvarchar](50) NULL,
	[id_cargo_arrival] [int] NULL,
	[arrival_cargo_name_ru] [nvarchar](50) NULL,
	[arrival_cargo_name_en] [nvarchar](50) NULL,
	[arrival_end_unload] [bit] NULL,
	[code_stn_to] [int] NULL,
	[to_station_name_ru] [nvarchar](50) NULL,
	[to_station_name_en] [nvarchar](50) NULL,
	[id_cargo_outgoing] [int] NULL,
	[outgoing_cargo_name_ru] [nvarchar](50) NULL,
	[outgoing_cargo_name_en] [nvarchar](50) NULL,
	[outgoing_start_load] [bit] NULL,
	[grace_time] [int] NULL,
	[id_currency] [int] NULL,
	[currency_ru] [nvarchar](50) NULL,
	[currency_en] [nvarchar](50) NULL,
	[currency_code] [int] NULL,
	[currency_code_cc] [nchar](3) NULL,
	[rate] [money] NULL
	)
	AS
	BEGIN

	insert @view_ufpd
	SELECT ufpd.[id]
		,ufpd.[id_usage_fee_period]
		,ufpd.[code_stn_from]
		,dir_stn_from.[station_name_ru] as from_station_name_ru
		,dir_stn_from.[station_name_en] as from_station_name_en
		,ufpd.[id_cargo_arrival]
		,dir_cargo_arrival.[cargo_name_ru] as arrival_cargo_name_ru
		,dir_cargo_arrival.[cargo_name_en] as arrival_cargo_name_en
		,ufpd.end_unload as arrival_end_unload
		,ufpd.[code_stn_to]
		,dir_stn_to.[station_name_ru] as to_station_name_ru
		,dir_stn_to.[station_name_en] as to_station_name_en
		,ufpd.[id_cargo_outgoing]
		,dir_cargo_outgoing.[cargo_name_ru] as outgoing_cargo_name_ru
		,dir_cargo_outgoing.[cargo_name_en] as outgoing_cargo_name_en
		,ufpd.start_load as outgoing_start_load
		,ufpd.[grace_time]
		,ufpd.[id_currency] as id_currency
		,dir_cur.[currency_ru] as currency_ru
		,dir_cur.[currency_en] as currency_en
		,dir_cur.[code] as  currency_code
		,dir_cur.[code_cc] as currency_code_cc
		,ufpd.[rate] as rate
		--into ufpds
	FROM [IDS].[Usage_Fee_Period_Detali] as ufpd
		--> Справочник станция отправки
		Left JOIN [IDS].[Directory_ExternalStation] as dir_stn_from ON ufpd.[code_stn_from] = dir_stn_from.code
		--> Справочник груз прибытия
		Left JOIN [IDS].[Directory_Cargo] as dir_cargo_arrival ON ufpd.[id_cargo_arrival] = dir_cargo_arrival.id
		--> Справочник станция прибытия
		Left JOIN [IDS].[Directory_ExternalStation] as dir_stn_to ON ufpd.[code_stn_to] = dir_stn_to.code
		--> Справочник груз отправки
		Left JOIN [IDS].[Directory_Cargo] as dir_cargo_outgoing ON ufpd.[id_cargo_outgoing] = dir_cargo_outgoing.id
		--> Справочник валют
		Left JOIN [IDS].[Directory_Currency] as dir_cur ON ufpd.[id_currency] = dir_cur.id
	where [id_usage_fee_period] = @id_usage_fee_period
	RETURN
 END

