@{

}

@section styles {
    @*<link rel="stylesheet" type="text/css" href="~/Content/view/idsrwt/arrival.css">*@
    <link rel="stylesheet" type="text/css" href="~/css/module/report/table_report.css">
}

@section scripts {
    @*<script src="~/Scripts/view/idsrwt/arrival.js"></script> <!--  -->*@
    <script src="~/js/view/shared/common.js"></script>
    <!-- Библиотеки API -->
    <script src="~/js/api/shared.js"></script>
    <script src="~/js/api/api_givc.js"></script> <!-- API ГИВЦ -->
    <!-- Модули -->
    <script src="~/js/module/report/table_report.js"></script> <!-- Таблицы отчета -->
    <script src="~/js/view/report/main_report.js"></script>
}
<main class="container">
    <div class="alert alert-primary" role="alert" id="main-alert">
        A simple primary alert—check it out!
    </div>
    <div class="col-md-12">
        <h4 class="mb-2">СПРАВКИ ГИВЦ</h4>
        <div class="row mb-2">
            <div class="col-md-5">
                <label for="type-requests" class="form-label">Тип справки:</label>
                <select class="form-select" id="type-requests" required=""></select>
            </div>
            <div class="col-md-7">
                <label for="last-requests" class="form-label">Последние 10 запросов:</label>
                <select class="form-select" id="last-requests" required=""></select>
            </div>
        </div>
        <div class="accordion mb-2" id="form-reguest">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-reguest" aria-expanded="true" aria-controls="collapse-reguest">
                        Выполнить запрос
                    </button>
                </h2>
                <div id="collapse-reguest" class="accordion-collapse collapse" data-bs-parent="#form-reguest">
                    <div class="accordion-body">
                        <div class="row mb-2">
                            <div class="col-12">
                                <form class="row g-3 needs-validation" id="fm-reguest-givc">
                                    <div class="col-md-3">
                                        <label for="kod_stan_beg" class="form-label">Нижня межа кодів ЄМР</label>
                                        <input type="number" class="form-control" id="kod_stan_beg" value="467004" required>
                                        <div class="valid-feedback">
                                            Введите код ЄМР
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="kod_stan_end" class="form-label">Верхня межа кодів ЄМР</label>
                                        <input type="number" class="form-control" id="kod_stan_end" value="467201" required>
                                        <div class="valid-feedback">
                                            Введите код ЄМР
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="kod_grp_beg" class="form-label">Нижня межа кодів одержувачів</label>
                                        <input type="number" class="form-control" id="kod_grp_beg" value="7932">
                                        <div class="valid-feedback">
                                            Введите код одержувача
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="kod_grp_end" class="form-label">Верхня межа кодів одержувачів</label>
                                        <input type="number" class="form-control" id="kod_grp_end" value="7932">
                                        <div class="valid-feedback">
                                            Введите код одержувача
                                        </div>
                                    </div>
@*                                    <div class="col-md-2">
                                        <label for="date_beg" class="form-label">Нижня межа дат відправлення</label>
                                        <input type="date" class="form-control" id="date_beg" value="01.01.2024" required>
                                        <div class="valid-feedback">
                                            Введите дату відправлення
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <label for="date_end" class="form-label">Верхня межа дат відправлення</label>
                                        <input type="date" class="form-control" id="date_end" value="01.03.2024" required>
                                        <div class="valid-feedback">
                                            Введите дату відправлення
                                        </div>
                                    </div>*@
                                    <div class="col-12">
                                        <button class="btn btn-primary" type="submit">ВЫПОЛНИТЬ</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-12">
                <div class="card border-secondary mb-3" ">
                    <div class="card-header">Подходы</div>
                    <div class="card-body text-secondary">
                        <div class="row mb-2">
                            <div class="col-12">
                                <nav>
                                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                        <button class="nav-link" id="nav-generated_routes-tab" data-bs-toggle="tab" data-bs-target="#nav-generated_routes" type="button" role="tab" aria-controls="nav-generated_routes" aria-selected="false">Сформированные маршруты</button>
                                        <button class="nav-link" id="nav-total_cargo-tab" data-bs-toggle="tab" data-bs-target="#nav-total_cargo" type="button" role="tab" aria-controls="nav-total_cargo" aria-selected="false">Общий грузопоток</button>
                                        <button class="nav-link" id="nav-givc-tab" data-bs-toggle="tab" data-bs-target="#nav-givc" type="button" role="tab" aria-controls="nav-givc" aria-selected="false">ГИВЦ</button>
                                    </div>
                                </nav>
                                <div class="tab-content" id="nav-tabContent">
                                    <div class="tab-pane fade" id="nav-generated_routes" role="tabpanel" aria-labelledby="nav-generated_routes-tab" tabindex="0">
                                        <div class="row mt-1">
                                            <div class="col-12">
                                                <table id="example" class="display" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th>Name</th>
                                                            <th>Position</th>
                                                            <th>Office</th>
                                                            <th>Age</th>
                                                            <th>Start date</th>
                                                            <th>Salary</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Tiger Nixon</td>
                                                            <td>System Architect</td>
                                                            <td>Edinburgh</td>
                                                            <td>61</td>
                                                            <td>2011-04-25</td>
                                                            <td>$320,800</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Garrett Winters</td>
                                                            <td>Accountant</td>
                                                            <td>Tokyo</td>
                                                            <td>63</td>
                                                            <td>2011-07-25</td>
                                                            <td>$170,750</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Ashton Cox</td>
                                                            <td>Junior Technical Author</td>
                                                            <td>San Francisco</td>
                                                            <td>66</td>
                                                            <td>2009-01-12</td>
                                                            <td>$86,000</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Cedric Kelly</td>
                                                            <td>Senior Javascript Developer</td>
                                                            <td>Edinburgh</td>
                                                            <td>22</td>
                                                            <td>2012-03-29</td>
                                                            <td>$433,060</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Airi Satou</td>
                                                            <td>Accountant</td>
                                                            <td>Tokyo</td>
                                                            <td>33</td>
                                                            <td>2008-11-28</td>
                                                            <td>$162,700</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Brielle Williamson</td>
                                                            <td>Integration Specialist</td>
                                                            <td>New York</td>
                                                            <td>61</td>
                                                            <td>2012-12-02</td>
                                                            <td>$372,000</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Herrod Chandler</td>
                                                            <td>Sales Assistant</td>
                                                            <td>San Francisco</td>
                                                            <td>59</td>
                                                            <td>2012-08-06</td>
                                                            <td>$137,500</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Rhona Davidson</td>
                                                            <td>Integration Specialist</td>
                                                            <td>Tokyo</td>
                                                            <td>55</td>
                                                            <td>2010-10-14</td>
                                                            <td>$327,900</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Colleen Hurst</td>
                                                            <td>Javascript Developer</td>
                                                            <td>San Francisco</td>
                                                            <td>39</td>
                                                            <td>2009-09-15</td>
                                                            <td>$205,500</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Sonya Frost</td>
                                                            <td>Software Engineer</td>
                                                            <td>Edinburgh</td>
                                                            <td>23</td>
                                                            <td>2008-12-13</td>
                                                            <td>$103,600</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Jena Gaines</td>
                                                            <td>Office Manager</td>
                                                            <td>London</td>
                                                            <td>30</td>
                                                            <td>2008-12-19</td>
                                                            <td>$90,560</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Quinn Flynn</td>
                                                            <td>Support Lead</td>
                                                            <td>Edinburgh</td>
                                                            <td>22</td>
                                                            <td>2013-03-03</td>
                                                            <td>$342,000</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Charde Marshall</td>
                                                            <td>Regional Director</td>
                                                            <td>San Francisco</td>
                                                            <td>36</td>
                                                            <td>2008-10-16</td>
                                                            <td>$470,600</td>
                                                        </tr>
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <th>Name</th>
                                                            <th>Position</th>
                                                            <th>Office</th>
                                                            <th>Age</th>
                                                            <th>Start date</th>
                                                            <th>Salary</th>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="nav-total_cargo" role="tabpanel" aria-labelledby="nav-total_cargo-tab" tabindex="0">2</div>
                                    <div class="tab-pane active" id="nav-givc" role="tabpanel" aria-labelledby="nav-givc-tab" tabindex="0">
                                        <div class="row mb-2">
                                            <div class="col-12" id="req1892">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>
