@{

}

@section styles {
    @*<link rel="stylesheet" type="text/css" href="~/Content/view/idsrwt/arrival.css">*@
}

@section scripts {
    @*<script src="~/Scripts/view/idsrwt/arrival.js"></script> <!--  -->*@
    <script src="~/js/view/report/main_report.js"></script>
}
<main class="container">
    <div class="bg-body-tertiary p-5 rounded">
        <h1>Navbar example</h1>
        <p class="lead">This example is a quick exercise to illustrate how fixed to top navbar works. As you scroll, it will remain fixed to the top of your browser’s viewport.</p>
        <a class="btn btn-lg btn-primary" href="../components/navbar/" role="button">View navbar docs &raquo;</a>
    </div>
</main>