USE [KRR-PA-CNT-Railway-Archive]
GO
ALTER TABLE [IDS].[Directory_Cargo] DROP CONSTRAINT [FK_Directory_Cargo_Directory_CargoOutGroup]
GO
ALTER TABLE [IDS].[Directory_Cargo] DROP CONSTRAINT [FK_Directory_Cargo_Directory_CargoGroup]
GO
ALTER TABLE [IDS].[Directory_Cargo] DROP CONSTRAINT [FK_Directory_Cargo_Directory_CargoETSNG]
GO

ALTER TABLE [IDS].[Arrival_UZ_Vagon] DROP CONSTRAINT [FK_Arrival_UZ_Vagon_Directory_Cargo]
GO
ALTER TABLE [IDS].[Outgoing_UZ_Vagon] DROP CONSTRAINT [FK_Outgoing_UZ_Vagon_Directory_Cargo]
GO
ALTER TABLE [IDS].[Usage_Fee_Period_Detali] DROP CONSTRAINT [FK_Usage_Fee_Period_Detali_Directory_Cargo]
GO
ALTER TABLE [IDS].[Usage_Fee_Period_Detali] DROP CONSTRAINT [FK_Usage_Fee_Period_Detali_Directory_Cargo1]
GO

ALTER TABLE [IDS].[WagonInternalMoveCargo] DROP CONSTRAINT [FK_WagonInternalMoveCargo_Directory_Cargo]
GO
ALTER TABLE [IDS].[Arrival_UZ_Vagon_Cont] DROP CONSTRAINT [FK_Arrival_UZ_Vagon_Cont_Directory_Cargo]
GO
ALTER TABLE [IDS].[Outgoing_UZ_Vagon_Cont] DROP CONSTRAINT [FK_Outgoing_UZ_Vagon_Cont_Directory_Cargo]
GO

--==========================
/****** Object:  Table [IDS].[Directory_CargoOutGroup]    Script Date: 27.01.2025 10:57:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[IDS].[Directory_CargoOutGroup]') AND type in (N'U'))
DROP TABLE [IDS].[Directory_CargoOutGroup]
GO
/****** Object:  Table [IDS].[Directory_CargoOutGroup]    Script Date: 27.01.2025 10:57:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [IDS].[Directory_CargoOutGroup](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cargo_group_name_ru] [nvarchar](50) NOT NULL,
	[cargo_group_name_en] [nvarchar](50) NOT NULL,
	[create] [datetime] NOT NULL,
	[create_user] [nvarchar](50) NOT NULL,
	[change] [datetime] NULL,
	[change_user] [nvarchar](50) NULL,
 CONSTRAINT [PK_Directory_CargoOutGroup] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [IDS].[Directory_CargoOutGroup] ON 

INSERT [IDS].[Directory_CargoOutGroup] ([id], [cargo_group_name_ru], [cargo_group_name_en], [create], [create_user], [change], [change_user]) VALUES (1, N'ЧЕРНЫЕ МЕТАЛЛЫ', N'BLACK METALS', CAST(N'2022-12-21T00:00:00.000' AS DateTime), N'EUROPE\ealevchenko', NULL, NULL)
INSERT [IDS].[Directory_CargoOutGroup] ([id], [cargo_group_name_ru], [cargo_group_name_en], [create], [create_user], [change], [change_user]) VALUES (2, N'КОНЦЕНТРАТ ЖЕЛЕЗОРУДНЫЙ', N'IRON ORE CONCENTRATE', CAST(N'2022-12-21T00:00:00.000' AS DateTime), N'EUROPE\ealevchenko', NULL, NULL)
INSERT [IDS].[Directory_CargoOutGroup] ([id], [cargo_group_name_ru], [cargo_group_name_en], [create], [create_user], [change], [change_user]) VALUES (3, N'ГРАНШЛАК', N'GRANCHLAC', CAST(N'2022-12-21T00:00:00.003' AS DateTime), N'EUROPE\ealevchenko', NULL, NULL)
SET IDENTITY_INSERT [IDS].[Directory_CargoOutGroup] OFF
GO
--==========================
/****** Object:  Table [IDS].[Directory_Cargo]    Script Date: 27.01.2025 9:38:22 ******/
--IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[IDS].[Directory_Cargo]') AND type in (N'U'))
DROP TABLE [IDS].[Directory_Cargo]
GO
/****** Object:  Table [IDS].[Directory_Cargo]    Script Date: 27.01.2025 9:38:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [IDS].[Directory_Cargo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_group] [int] NOT NULL,
	[id_cargo_etsng] [int] NOT NULL,
	[cargo_name_ru] [nvarchar](50) NOT NULL,
	[cargo_name_en] [nvarchar](50) NOT NULL,
	[code_sap] [nvarchar](20) NULL,
	[empty_weight] [bit] NULL,
	[sending] [bit] NULL,
	[create] [datetime] NOT NULL,
	[create_user] [nvarchar](50) NOT NULL,
	[change] [datetime] NULL,
	[change_user] [nvarchar](50) NULL,
	[id_out_group] [int] NULL,
CONSTRAINT [PK_Directory_Cargo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [IDS].[Directory_Cargo] ON 

INSERT [IDS].[Directory_Cargo] ([id], [id_group], [id_cargo_etsng], [cargo_name_ru], [cargo_name_en], [code_sap], [empty_weight], [sending], [create], [create_user], [change], [change_user], [id_out_group]) VALUES (1, 11, 1, N'Вагоны порожние', N'Вагоны порожние', N'', 1, 1, CAST(N'2020-04-15T21:24:40.280' AS DateTime), N'EUROPE\ealevchenko', CAST(N'2022-12-05T09:04:19.290' AS DateTime), N'EUROPE\ivshuba', 5)
INSERT [IDS].[Directory_Cargo] ([id], [id_group], [id_cargo_etsng], [cargo_name_ru], [cargo_name_en], [code_sap], [empty_weight], [sending], [create], [create_user], [change], [change_user], [id_out_group]) VALUES (3, 10, 3, N'Оборудование съемное', N'Оборудование съемное', N'', NULL, 1, CAST(N'2020-04-30T00:56:15.987' AS DateTime), N'EUROPE\ealevchenko', CAST(N'2021-02-11T16:18:05.037' AS DateTime), N'EUROPE\ivshuba', NULL)
INSERT [IDS].[Directory_Cargo] ([id], [id_group], [id_cargo_etsng], [cargo_name_ru], [cargo_name_en], [code_sap], [empty_weight], [sending], [create], [create_user], [change], [change_user], [id_out_group]) VALUES (4, 6, 4, N'Известняк для флюсования', N'Известняк для флюсования', N'', NULL, 1, CAST(N'2020-05-04T12:52:43.997' AS DateTime), N'EUROPE\ealevchenko', CAST(N'2021-04-26T08:12:13.953' AS DateTime), N'EUROPE\ivshuba', 11)
GO

SET IDENTITY_INSERT [IDS].[Directory_Cargo] OFF
GO
ALTER TABLE [IDS].[Directory_Cargo]  WITH CHECK ADD  CONSTRAINT [FK_Directory_Cargo_Directory_CargoETSNG] FOREIGN KEY([id_cargo_etsng])
REFERENCES [IDS].[Directory_CargoETSNG] ([id])
GO
ALTER TABLE [IDS].[Directory_Cargo] CHECK CONSTRAINT [FK_Directory_Cargo_Directory_CargoETSNG]
GO
ALTER TABLE [IDS].[Directory_Cargo]  WITH CHECK ADD  CONSTRAINT [FK_Directory_Cargo_Directory_CargoGroup] FOREIGN KEY([id_group])
REFERENCES [IDS].[Directory_CargoGroup] ([id])
GO
ALTER TABLE [IDS].[Directory_Cargo] CHECK CONSTRAINT [FK_Directory_Cargo_Directory_CargoGroup]
GO
ALTER TABLE [IDS].[Directory_Cargo]  WITH CHECK ADD  CONSTRAINT [FK_Directory_Cargo_Directory_CargoOutGroup] FOREIGN KEY([id_out_group])
REFERENCES [IDS].[Directory_CargoOutGroup] ([id])
GO
ALTER TABLE [IDS].[Directory_Cargo] CHECK CONSTRAINT [FK_Directory_Cargo_Directory_CargoOutGroup]
GO
--Arrival_UZ_Vagon
ALTER TABLE [IDS].[Arrival_UZ_Vagon]  WITH CHECK ADD  CONSTRAINT [FK_Arrival_UZ_Vagon_Directory_Cargo] FOREIGN KEY([id_cargo])
REFERENCES [IDS].[Directory_Cargo] ([id])
GO

ALTER TABLE [IDS].[Arrival_UZ_Vagon] CHECK CONSTRAINT [FK_Arrival_UZ_Vagon_Directory_Cargo]
GO
--Outgoing_UZ_Vagon
ALTER TABLE [IDS].[Outgoing_UZ_Vagon]  WITH CHECK ADD  CONSTRAINT [FK_Outgoing_UZ_Vagon_Directory_Cargo] FOREIGN KEY([id_cargo])
REFERENCES [IDS].[Directory_Cargo] ([id])
GO

ALTER TABLE [IDS].[Outgoing_UZ_Vagon] CHECK CONSTRAINT [FK_Outgoing_UZ_Vagon_Directory_Cargo]
GO
--Usage_Fee_Period_Detali
ALTER TABLE [IDS].[Usage_Fee_Period_Detali]  WITH CHECK ADD  CONSTRAINT [FK_Usage_Fee_Period_Detali_Directory_Cargo] FOREIGN KEY([id_cargo_arrival])
REFERENCES [IDS].[Directory_Cargo] ([id])
GO

ALTER TABLE [IDS].[Usage_Fee_Period_Detali] CHECK CONSTRAINT [FK_Usage_Fee_Period_Detali_Directory_Cargo]
GO

ALTER TABLE [IDS].[Usage_Fee_Period_Detali]  WITH CHECK ADD  CONSTRAINT [FK_Usage_Fee_Period_Detali_Directory_Cargo1] FOREIGN KEY([id_cargo_outgoing])
REFERENCES [IDS].[Directory_Cargo] ([id])
GO

ALTER TABLE [IDS].[Usage_Fee_Period_Detali] CHECK CONSTRAINT [FK_Usage_Fee_Period_Detali_Directory_Cargo1]
GO

--WagonInternalMoveCargo
ALTER TABLE [IDS].[WagonInternalMoveCargo]  WITH CHECK ADD  CONSTRAINT [FK_WagonInternalMoveCargo_Directory_Cargo] FOREIGN KEY([id_cargo])
REFERENCES [IDS].[Directory_Cargo] ([id])
GO

ALTER TABLE [IDS].[WagonInternalMoveCargo] CHECK CONSTRAINT [FK_WagonInternalMoveCargo_Directory_Cargo]
GO
--Arrival_UZ_Vagon_Cont
ALTER TABLE [IDS].[Arrival_UZ_Vagon_Cont]  WITH CHECK ADD  CONSTRAINT [FK_Arrival_UZ_Vagon_Cont_Directory_Cargo] FOREIGN KEY([id_cargo])
REFERENCES [IDS].[Directory_Cargo] ([id])
GO

ALTER TABLE [IDS].[Arrival_UZ_Vagon_Cont] CHECK CONSTRAINT [FK_Arrival_UZ_Vagon_Cont_Directory_Cargo]
GO
--Outgoing_UZ_Vagon_Cont
ALTER TABLE [IDS].[Outgoing_UZ_Vagon_Cont]  WITH CHECK ADD  CONSTRAINT [FK_Outgoing_UZ_Vagon_Cont_Directory_Cargo] FOREIGN KEY([id_cargo])
REFERENCES [IDS].[Directory_Cargo] ([id])
GO

ALTER TABLE [IDS].[Outgoing_UZ_Vagon_Cont] CHECK CONSTRAINT [FK_Outgoing_UZ_Vagon_Cont_Directory_Cargo]
GO


