USE [KRR-PA-CNT-Railway-Archive]
GO

ALTER TABLE [IDS].[Directory_InternalCargo] DROP CONSTRAINT [FK_Directory_InternalCargo_Directory_InternalCargoGroup]
GO

ALTER TABLE [IDS].[WagonInternalMoveCargo] DROP CONSTRAINT [FK_WagonInternalMoveCargo_Directory_InternalCargo1]
GO

/****** Object:  Table [IDS].[Directory_InternalCargoGroup]    Script Date: 27.01.2025 12:03:38 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[IDS].[Directory_InternalCargoGroup]') AND type in (N'U'))
DROP TABLE [IDS].[Directory_InternalCargoGroup]
GO
/****** Object:  Table [IDS].[Directory_InternalCargoGroup]    Script Date: 27.01.2025 12:03:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [IDS].[Directory_InternalCargoGroup](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cargo_group_name_ru] [nvarchar](50) NOT NULL,
	[cargo_group_name_en] [nvarchar](50) NOT NULL,
	[create] [datetime] NOT NULL,
	[create_user] [nvarchar](50) NOT NULL,
	[change] [datetime] NULL,
	[change_user] [nvarchar](50) NULL,
 CONSTRAINT [PK_Directory_InternalCargoGroup] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [IDS].[Directory_InternalCargoGroup] ON 
INSERT [IDS].[Directory_InternalCargoGroup] ([id], [cargo_group_name_ru], [cargo_group_name_en], [create], [create_user], [change], [change_user]) VALUES (0, N'ПОРОЖНИЕ', N'EMPTY', CAST(N'2024-11-20T00:00:00.000' AS DateTime), N'EUROPE\ealevchenko', NULL, NULL)
INSERT [IDS].[Directory_InternalCargoGroup] ([id], [cargo_group_name_ru], [cargo_group_name_en], [create], [create_user], [change], [change_user]) VALUES (1, N'БРИКЕТЫ', N'BRIQUETTES', CAST(N'2024-11-20T00:00:00.000' AS DateTime), N'EUROPE\ealevchenko', NULL, NULL)
INSERT [IDS].[Directory_InternalCargoGroup] ([id], [cargo_group_name_ru], [cargo_group_name_en], [create], [create_user], [change], [change_user]) VALUES (2, N'ГРАНШЛАК', N'GRANULAR SLAG', CAST(N'2024-11-20T00:00:00.000' AS DateTime), N'EUROPE\ealevchenko', NULL, NULL)
SET IDENTITY_INSERT [IDS].[Directory_InternalCargoGroup] OFF
GO


/****** Object:  Table [IDS].[Directory_InternalCargo]    Script Date: 27.01.2025 11:49:35 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[IDS].[Directory_InternalCargo]') AND type in (N'U'))
DROP TABLE [IDS].[Directory_InternalCargo]
GO
/****** Object:  Table [IDS].[Directory_InternalCargo]    Script Date: 27.01.2025 11:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [IDS].[Directory_InternalCargo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_group] [int] NOT NULL,
	[cargo_name_ru] [nvarchar](50) NOT NULL,
	[cargo_name_en] [nvarchar](50) NOT NULL,
	[empty_weight] [bit] NULL,
	[code_sap] [nvarchar](20) NULL,
	[material_class_sap] [nvarchar](50) NULL,
	[id_cargo_ebd] [int] NULL,
	[create] [datetime] NOT NULL,
	[create_user] [nvarchar](50) NOT NULL,
	[change] [datetime] NULL,
	[change_user] [nvarchar](50) NULL,
 CONSTRAINT [PK_Directory_InternalCargo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [IDS].[Directory_InternalCargo] ON 

INSERT [IDS].[Directory_InternalCargo] ([id], [id_group], [cargo_name_ru], [cargo_name_en], [empty_weight], [code_sap], [material_class_sap], [id_cargo_ebd], [create], [create_user], [change], [change_user]) VALUES (0, 0, N'Вагоны порожние', N'Вагоны порожние', 1, N'', N'Вагоны порожние', NULL, CAST(N'2024-11-20T00:00:00.000' AS DateTime), N'EUROPE\ealevchenko', NULL, NULL)
INSERT [IDS].[Directory_InternalCargo] ([id], [id_group], [cargo_name_ru], [cargo_name_en], [empty_weight], [code_sap], [material_class_sap], [id_cargo_ebd], [create], [create_user], [change], [change_user]) VALUES (1, 1, N'Брикет доменный', N'Брикет доменный', NULL, N'230000200', N'Сырье', 3047, CAST(N'2024-11-20T00:00:00.000' AS DateTime), N'EUROPE\ealevchenko', NULL, NULL)
INSERT [IDS].[Directory_InternalCargo] ([id], [id_group], [cargo_name_ru], [cargo_name_en], [empty_weight], [code_sap], [material_class_sap], [id_cargo_ebd], [create], [create_user], [change], [change_user]) VALUES (2, 1, N'Брикет железорудный', N'Брикет железорудный', NULL, N' ', N'Сырье', 3207, CAST(N'2024-11-20T00:00:00.000' AS DateTime), N'EUROPE\ealevchenko', NULL, NULL)
GO

SET IDENTITY_INSERT [IDS].[Directory_InternalCargo] OFF
GO
ALTER TABLE [IDS].[Directory_InternalCargo]  WITH CHECK ADD  CONSTRAINT [FK_Directory_InternalCargo_Directory_InternalCargoGroup] FOREIGN KEY([id_group])
REFERENCES [IDS].[Directory_InternalCargoGroup] ([id])
GO
ALTER TABLE [IDS].[Directory_InternalCargo] CHECK CONSTRAINT [FK_Directory_InternalCargo_Directory_InternalCargoGroup]
GO

ALTER TABLE [IDS].[WagonInternalMoveCargo]  WITH CHECK ADD  CONSTRAINT [FK_WagonInternalMoveCargo_Directory_InternalCargo1] FOREIGN KEY([id_internal_cargo])
REFERENCES [IDS].[Directory_InternalCargo] ([id])
GO

ALTER TABLE [IDS].[WagonInternalMoveCargo] CHECK CONSTRAINT [FK_WagonInternalMoveCargo_Directory_InternalCargo1]
GO
